img {
  width: 50px;
}
body {font-family: 'Pangolin', Arial;
color: red;
}

#box {
	position: absolute;
	width: 1200px;
	height: 2000px;
	border:  2px;
	background-color: lightyellow;
	left: 50px;
}
#face {
	top: 30px;
	position: fixed;
  width: 400px;
}
/* Face 1*/
#face1 {
	position: absolute;
	font-size: 50px;
	right: 200px;
	top: 250px;
}
#hair1 {
	position: absolute;
	left: 30px;
	width: 350px;
	z-index: 100;

}

#eyes2 {
	position: absolute;
	top: 230px;
	left: 80px;
	width: 250px;
	z-index: 80;
}
#nose1 {
	position: absolute;
	top: 280px;
	left: 170px;
	width: 60px;
	z-index: 80;
}
#mouth1 {
	position: absolute;
	top: 370px;
	left: 160px;
	width: 95px;
	z-index: 80;

}
#ears2 {
	position: absolute;
	top: 240px;
	left: -10px;
	width: 430px;
	z-index: 80;

}

/* Face 2*/

#hair2 {
	position: absolute;
	top: 600px;
	left: 30px;
	width: 350px;
	z-index: 100;
}
#eyes1 {
	position: absolute;
	top: 750px;
	left: 80px;
	width: 250px;
	z-index: 80;
}
#nose2{
	position: absolute;
	top: 820px;
	left: 170px;
	width: 60px;
	z-index: 80;
}
#mouth2{
	position: absolute;
	top: 890px;
	left: 160px;
	width: 95px;
	z-index: 80;

}
/* Face 3*/
#hat{
	position: absolute;
	top: 1200px;
	left: 60px;
	width: 310px;
	z-index: 100;
}
#eyes3 {
	position: absolute;
	top: 1420px;
	left: 80px;
	width: 250px;
	z-index: 80;
}
#moustache{
	position: absolute;
	top: 1520px;
	left: 100px;
	width: 200px;
	z-index: 80;

}
#ears1{
position: absolute;
	top: 1320px;
	left: 10px;
	width: 380px;
	z-index: 80;
}